{% extends 'baseback.html .twig' %}

{% block title %}Radio!
{% endblock %}

{% block body %}


	
		<div id="layoutSidenav_content">
			<main>
				<div class="container">
  {#% for message in app.flashes('message') %#}
          <div class="col-6 text-center flash">

                  <div class="alert alert-primary" role="alert">
                  <h3></h3>
                  </div>
          </div>
   {#% endfor %#}
      <h1 class="text-center"> </h1>
        <h3 class="text-center">La Liste des ateliers</h3>
        <a href="{{ path('app_addsoutien') }}" class="btn btn-primary">Ajouter une categorie</a><br>
     <br><br>
   <table class="table table-bordered border-primary">
  <caption>Vos annonces</caption>
  <thead>
    <tr>
      <th scope="col">Titre</th>
      <th scope="col">Sous-titre</th>
      <th scope="col">Sible </th>
      <th scope="col">Contenu</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
   {#% for anonnces in app.user.adverTs %#}
    {%  for soutien in soutiens %}
    <tr>
      <td data-label="Titre">{{soutien.nom }}</td>
       <td data-label="Titre">{{soutien.soustitre }}</td>
      <td data-label="Date">{{soutien.action }} </td>
      <td data-label="Contenu">{{soutien.content|u.truncate(80, '...')|raw }}<br></td>
      <td data-label="Action">
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Action
</button>
<div class="btn-group" role="group">
<button id="btnGroupDrop4" type="button" class="btn btn-danger dropdown-toggle"  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                  <div class="dropdown-menu" aria-labelledby="btnGroupDrop4">
                    <a class="dropdown-item" href="{{ path('app_edit.soutien',{'id': soutien.id}) }}">Modifier</a>
                    <a class="dropdown-item"   href="{{path('app_soutien',{'id': soutien.id})}}" data-bs-toggle="modal" data-bs-target="#exampleModal2{{soutien.id}}" >Suprrimer</a>
                    
                  </div>
                </div>
<!-- Modal -->
<div class="modal fade" id="exampleModal2{{soutien.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="useraction">
      <div class="modal-header">
        
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       Vous étre sur le point de supprimer l'anonnce : {{soutien.id}} titre,{{soutien.nom}} ?
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        	<a type="button" href="{{path('app_soutien',{'id': soutien.id})}}" class="btn btn-primary">Suprrimer</a>
      </div>
    </div>
  </div>
</div>
      </td>
    </tr>
    
    {% endfor %}
    
  </tbody>
</table>

     </div>
				</main>


			{% endblock %}
