{% extends 'baseback.html .twig' %}

{% block title %}Radio!
{% endblock %}

{% block body %}


	
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">

                    <br><br>
					<h1 class="mt-4 text-center">
						Ajouter un Documentaire !
					</h1>
					<div class="container">
						<br><div class="mb-3">
							{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
						
							
						</div>
						<div class="form-group">
						<div class="row">
							<div class="col-6">{{ form_row(form.title) }}</div>
							<div class="col-6">{{ form_row(form.categorieDoc) }}</div>
							<div class="col-6">{{ form_row(form.image ) }}</div>
						</div>
						</div>
						<div class="form-group">

							{{ form_row(form.content , {'attr': {'placeholder': "le contenu de l'article"}}) }}
						</div>

						<div class="form-group">
							
						</div>
						<div class="mb-3">
							<button type="submit" class="btn btn-success">
								{% if editMode %}
									Enregistrer
								{% else %}
									Ajouter l'article

								{% endif %}

							</button>
						</div>


						{{ form_end(form) }}


					</div>
				</main>


			{% endblock %}

