{% extends 'baseback.html .twig' %}

{% block title %}Radio!
{% endblock %}

{% block body %}



		<main>
			<div class="container-fluid px-4">

				<br><br>
				<h1 class="mt-4  text-center">
					Ajouter un atelier !
				</h1>
				<div class="container">
					<br><div class="mb-3">
						{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
						<div class="row">
							<div class="col">{{ form_row(form.titel, {'attr': {'placeholder': "Titre de l'article"}}) }}</div>
							<div class="col">{{ form_row(form.author, {'attr': {'placeholder': "Titre de l'article"}}) }}</div>

						</div>

						{# {{ form_rest(form) }} #}
					</div>
					<div class="form-group">
						<div class="col-6">{{ form_row(form.programme, {'attr': {'placeholder': "Titre de l'article"}}) }}</div>
						<div class="row">

							<div class="col">{{ form_row(form.categorieAtelier , {'attr': {'placeholder': "Titre de l'article"}}) }}</div>
							<div class="col">{{ form_row(form.image , {'attr': {'placeholder': "Image de l'article"}}) }}</div>

						</div>

					</div>

					<div class="form-group">

						{{ form_row(form.discription , {'attr': {'placeholder': "le contenu de l'article"}}) }}
					</div>

					<div class="mb-3">
						<button type="submit" class="btn btn-success">
							{% if editMode %}
								Enregistrer
							{% else %}
								Ajouter l'article

							{% endif %}

						</button>
					</div>


					{{ form_end(form) }}


				</div>
			</main>


		{% endblock %}
		{% block javascripts   %}

			<script>
				$(document).ready(function () {
$('.select2').select2();
});
			</script>
		{% endblock %}
