<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta name="description" content=""/>
		<meta name="author" content=""/>
		<title>
			{% block title %}{% endblock %}
		</title>
		<link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet"/>
		<link rel="stylesheet" href="{{ asset('backasso/css/styles.css')}}"/>
		<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
          <link href="{{  asset('node_modules/select2/dist/css/select2.min.css')}}" rel="stylesheet" />
		
	</head>
	<body class="sb-nav-fixed">
		<nav
			class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
			<!-- Navbar Brand-->
			<a class="navbar-brand ps-3" href="index.html">Accueil</a>
			<!-- Sidebar Toggle-->
			<button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
				<i class="fas fa-bars"></i>
			</button>
			<!-- Navbar Search-->
			<form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
				<div class="input-group">
					<input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch"/>
					<button class="btn btn-primary" id="btnNavbarSearch" type="button">
						<i class="fas fa-search"></i>
					</button>
				</div>
			</form>
			<!-- Navbar-->
			<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<img src="{{ asset('/upload/galerie/' ~ app.user.profil.avatar|default('undefined'))}}" class="card-img-top" alt="avatar" style="width: 40px; height:40px"></i>
					</a>
					<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" href="{{ path('app_profil',{'id': app.user.id, 'slug': app.user.profil.slug})}}">Paramètre</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('modif_profilCompte',{'id': app.user.id, 'slug': app.user.profil.slug})}}">Journal d'activité</a>
						</li>
						<li><hr class="dropdown-divider"/></li>
						<li>
							<a class="dropdown-item" href="{{ path('app_logout')}}">Se déconnecter</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
		<div id="layoutSidenav">
			<div id="layoutSidenav_nav">
				<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
					<div class="sb-sidenav-menu">
						<div class="nav">
							<div class="sb-sidenav-menu-heading"></div>
							<a class="nav-link" href="{{path('admin_index')}}">
								<div class="sb-nav-link-icon">
									<i class="fas fa-tachometer-alt"></i>
								</div>
								Tableau de bord
							</a>
							<div class="sb-sidenav-menu-heading"></div>
							     {% if is_granted('ROLE_REDACTEUR') %} 
							<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#admin" aria-expanded="false" aria-controls="collapseLayouts">
								<div class="sb-nav-link-icon">
									<i class="fas fa-columns"></i>
								</div>
								Administrateur
								<div class="sb-sidenav-collapse-arrow">
									<i class="fas fa-angle-down"></i>
								</div>
							</a>
							<div class="collapse" id="admin" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
								<nav class="sb-sidenav-menu-nested nav">
									<a class="nav-link" href="{{ path('app_personnel')}}">Staff</a>
									<a class="nav-link" href="{{ path('membre_assoc')}}">Memebre</a>
									<a class="nav-link" href="{{ path('app_image')}}">Activités</a>
									<a class="nav-link" href="{{ path('app_soutien_categorie')}}">M'écéne</a>
									<a class="nav-link" href="{{ path('app_don')}}">Don/Cotisation</a>
									<a class="nav-link" href="{{ path('app_sponsoring')}}">Sponsoring</a>
									
									
								</nav>
							</div>
							<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
								<div class="sb-nav-link-icon">
									<i class="fas fa-columns"></i>
								</div>
								Redacteur
								<div class="sb-sidenav-collapse-arrow">
									<i class="fas fa-angle-down"></i>
								</div>
							</a>
							<div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
								<nav class="sb-sidenav-menu-nested nav">
									<a class="nav-link" href="{{ path('admin_actu')}}">Actualités</a>
									<a class="nav-link" href="{{ path('app_list')}}">News-letters</a>
									<a class="nav-link" href="{{ path('app_image')}}">Publicité</a>
									<a class="nav-link" href="{{ path('app_soutien_categorie')}}">Boutique</a>
									<a class="nav-link" href="{{ path('app_programme')}}">Programme</a>
									<a class="nav-link" href="{{ path('app_programme')}}">Infos</a>
								</nav>
							</div>
							{% endif %}
                              {% if is_granted('ROLE_MEDIA' ) %} 
							<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
								<div class="sb-nav-link-icon">
									<i class="fas fa-book-open"></i>
								</div>
                                
								Média
								<div class="sb-sidenav-collapse-arrow">
									<i class="fas fa-angle-down"></i>
								</div>
							</a>
							<div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
								<!--<nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
									<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
										WEBTV
										<div class="sb-sidenav-collapse-arrow">
											<i class="fas fa-angle-down"></i>
										</div>
									</a>
									<div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
										<nav class="sb-sidenav-menu-nested nav">
											{# <a class="nav-link" href="{{path('app_backradio')}}">Emission</a>
											<a class="nav-link" href="register.html">Atelier</a>
											<a class="nav-link" href="{{ path('app_programme')}}">Programme</a> #}
										</nav>
									</div>
									
								</nav>-->
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
									<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesRadio" aria-expanded="false" aria-controls="pagesCollapseAuth">
										WebRadio
										<div class="sb-sidenav-collapse-arrow">
											<i class="fas fa-angle-down"></i>
										</div>
									</a>
									<div class="collapse" id="pagesRadio" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
										<nav class="sb-sidenav-menu-nested nav">
											<a class="nav-link" href="{{ path('app_afficheradio') }}">Emission</a>
											<a class="nav-link" href="{{path('app_afficheatelier')}}">Atelier</a>
											<a class="nav-link" href="{{ path('app_programme')}}">Programme</a>
											<a class="nav-link" href="{{ path('app_route')}}">Feuille de route</a>
										</nav>
									</div>
									
								</nav>
							</div>
                             {% endif %} 

                             {# <h1>CINEM</h1> #}
                                 {% if is_granted('ROLE_CINEMA') %}   
							<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
								<div class="sb-nav-link-icon">
									<i class="fas fa-book-open"></i>
								</div>
                                
								Cinéma
								<div class="sb-sidenav-collapse-arrow">
									<i class="fas fa-angle-down"></i>
								</div>
							</a>
							<div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
								<nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
									<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
										Fiction/Documentaire
										<div class="sb-sidenav-collapse-arrow">
											<i class="fas fa-angle-down"></i>
										</div>
									</a>
									<div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
										<nav class="sb-sidenav-menu-nested nav">
											<a class="nav-link" href="{{path('app_afficheatelier')}}">Atelier</a>
											<a class="nav-link" href="{{path('app_affidocback')}}">Documentaire</a>
											<a class="nav-link" href="{{path('app_affichecine')}}">Fiction</a>
											<a class="nav-link" href="{{path('app_festival.affiche')}}">Festival</a>
										</nav>
									</div>
									
								</nav>
                                {# <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
									<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesRadio" aria-expanded="false" aria-controls="pagesCollapseAuth">
										WebRadio
										<div class="sb-sidenav-collapse-arrow">
											<i class="fas fa-angle-down"></i>
										</div>
									</a>
									<div class="collapse" id="pagesRadio" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
										<nav class="sb-sidenav-menu-nested nav">
											<a class="nav-link" href="login.html">Emission</a>
											<a class="nav-link" href="register.html">Atelier</a>
											<a class="nav-link" href="password.html">Programme</a>
										</nav>
									</div>
									
								</nav> #}
							</div>
                               {% endif %}  

                             {# <h1>MUDIQUE</h1>  #}
                               {% if is_granted('ROLE_MUSIQUE') %} 
							<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
								<div class="sb-nav-link-icon">
									<i class="fas fa-book-open"></i>
								</div>
                                
								Musique
								<div class="sb-sidenav-collapse-arrow">
									<i class="fas fa-angle-down"></i>
								</div>
							</a>
							<div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
								{# <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
									<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
										Musique
										<div class="sb-sidenav-collapse-arrow">
											<i class="fas fa-angle-down"></i>
										</div>
									</a>
									<div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
										<nav class="sb-sidenav-menu-nested nav">
											<a class="nav-link" href="login.html">Emission</a>
											<a class="nav-link" href="register.html">Atelier</a>
											<a class="nav-link" href="password.html">Programme</a>
										</nav>
									</div>
									
								</nav> #}
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
									<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesRadio" aria-expanded="false" aria-controls="pagesCollapseAuth">
										Musique/Ateleir
										<div class="sb-sidenav-collapse-arrow">
											<i class="fas fa-angle-down"></i>
										</div>
									</a>
									<div class="collapse" id="pagesRadio" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
										<nav class="sb-sidenav-menu-nested nav">
											<a class="nav-link" href="{{ path('app_affichemusique') }}">Musique/production</a>
											<a class="nav-link" href="{{path('app_afficheatelier')}}">Atelier</a>
											{# <a class="nav-link" href="password.html">Programme</a> #}
										</nav>
									</div>
									
								</nav>
							</div>
                              {% endif %}  
                           
							
						</div>
					</div>
					
				</nav>
			</div>
			<div id="layoutSidenav_content">
				<main>

					<div class="container-fluid px-4">
						
						<div class="container">
							<div class="row">
								<body class="is-preload">
									{% for message in app.session.flashBag.get('info') %}

										<div class="alert alert-info" role="alert">
											{{message}}
										</div>
									{% endfor %}

									{% for message in app.session.flashBag.get('success') %}

										<div class="alert alert-success" role="alert">
											{{message}}
										</div>
									{% endfor %}

									{% for message in app.session.flashBag.get('error') %}

										<div class="alert alert-danger" role="alert">
											{{message}}
										</div>
									{% endfor %}
								</body>
							</div>

						</div>
						


						{% block body %}{% endblock %}
					</div>

				</main>
				{# <footer class="py-4 bg-light mt-auto">
				                    <div class="container-fluid px-4">
				                        <div class="d-flex align-items-center justify-content-between small">
				                            <div class="text-muted">Copyright &copy; Your Website 2023</div>
				                            
				                        </div>
				                    </div>
				                </footer> #}
			</div>
		</div>
		  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="{{  asset('node_modules/@fortawesome/fontawesome-free/js/all.js')}}"  /></script>
    <script src="{{ asset('backasso/assets/demo/chart-area-demo.js')}}"></script>
    <script src="{{ asset('backasso/assets/demo/chart-bar-demo.js')}}"></script>
    <script src="{{ asset('backasso/js/datatables-simple-demo.js')}}"></script>
    <script src="{{ asset('backasso/js/scripts.js')}}"></script>
    <script  src="{{ asset('node_modules/jquery/dist/jquery.min.js')}}"></script>
    <script  src="{{ asset('node_modules/select2/dist/js/select2.min.js')}}"></script>

       {% block javascripts %} {% endblock %}
            </body>
            </html>
