{% extends 'baseback.html .twig' %}

{% block title %}Radio!
{% endblock %}

{% block body %}


	
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">

                    <br><br>
					<h1 class="mt-4 text-center">
						Création de Festival !
					</h1>
					<div class="container">
						<br><div class="mb-3">
							{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
							<div class="row">
								<div class="col">{{ form_row(form.titel, {'attr': {'placeholder': "Titre de l'article"}}) }}</div>
								<div class="col">{{ form_row(form.authore, {'attr': {'placeholder': "Titre de l'article"}}) }}</div>
							</div>
							<div class="row">
							<div class="col-4"><p><a href="{{path('festival_image.add')}}">Ajouter les photos de festival</a></p></div>
							</div>
							
							
						</div>
					
						<div class="form-group">

							{{ form_row(form.discription , {'attr': {'placeholder': "le contenu de l'article"}}) }}
						</div>

						
						<div class="mb-3">
							<button type="submit" class="btn btn-success">
								{% if editMode %}
									Enregistrer
								{% else %}
									Ajouter l'article

								{% endif %}

							</button>
						</div>

						
						{{ form_end(form) }}


					</div>
				</main>


			{% endblock %}

