{% extends 'base_menu.html.twig' %}

{% block title %}Article!{% endblock %}

{% block body %}
<div id="wrapper">



	<!-- Main -->
					<section id="main" class="wrapper">
    
                        <div class="blog-single gray-bg">
        <div class="container">
            <div class="row align-items-start">
                <div class="col-lg-8 m-15px-tb">
                    <article class="article">
                        <div class="article-img">
                            <img src="{{ asset('/upload/galerie/' ~ article.image )}}" title="" alt="">
                        </div>
                        <div class="article-title">
                         
                            <h2>{{ article.title }}</h2>
                            <div class="media">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" title="" alt="">
                                </div>
                                <div class="media-body">
                                    <label>Rachel Roth</label>
									 <div class="metadata"><p> Ecrit le {{ article.createdAt |date('d/m/y') }} 
		 							 </p> 
									    {# <p>Categorie <a href="#">{{ article.categorieActu.nom }}</a></p></div> #}
                                 
                                </div>
                            </div>
                        </div>
                        <div class="article-content">
                            <p>  {{ article.content | raw }}</p>
                        </div>
                      <!--  <div class="nav tag-cloud">
                            <a href="#">Design</a>
                            <a href="#">Development</a>
                            <a href="#">Travel</a>
                            <a href="#">Web Design</a>
                            <a href="#">Marketing</a>
                            <a href="#">Research</a>
                            <a href="#">Managment</a>
                        </div>-->
                    </article>
                    <div class="contact article-comment">
                        <h4 class="text-center">Ajouter un commentaire</h4>
						 {% for comment in  article.comment %}
					 {# <p> {{ comment.email}}</p> #}
						<p> {{ comment.nom}}</p>
						<p>{{ comment.content}} </p>
						{% endfor %} 
                                 
                             {# {{ render(controller( 'App\\Controller\\CommentaireController::index' )) }} #}

                               {% if commentForm is defined %} 
                        {{ form_start(commentForm, {'attr': {'novalidate': 'novalidate'}}) }}
                         {{ form_errors(commentForm) }} 
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                 {{form_row(commentForm.email) }}
                            </div>
                            
                            <div class="col-12 col-sm-6">
                                 {{form_row(commentForm.nom) }}
                            </div> 
                            <div class="col-12">
                                  {{form_row(commentForm.content) }}
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">LAISSEZ UN COMMENTAIRE</button>
                            </div>
                        </div>
                   
                          {{form_end(commentForm)}}
                     {% endif %} 
               

                        {# <form id="contact-form" action=""  method="POST">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input name="nom" id="name" placeholder="Name *" class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input name="email" id="email" placeholder="Email *" class="form-control" type="email">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea name="content" id="message" placeholder="Your message *" rows="4" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="send">
                                        <button class="px-btn theme" type="submit">Envoyer Envoyer</i></button>
                                    </div>
                                </div>
                            </div>
                        </form> #}


                    
                    </div>
                </div>
                <div class="col-lg-4 m-15px-tb blog-aside">
                    <!-- Author -->
                    <div class="widget widget-author">
                        <div class="widget-title">
                            <h3> Auteur</h3>
                        </div>
                        <div class="widget-body">
                            <div class="media align-items-center">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar6.png" title="" alt="">
                                </div>
                                <div class="media-body">
                                    <h6>Hello, I'm<br> Rachel Roth</h6>
                                </div>
                            </div>
                            <p>I design and develop services for customers of all sizes, specializing in creating stylish, modern websites, web services and online stores</p>
                        </div>
                    </div>
                    <!-- End Author -->
                    <!-- Trending Post --
                    <div class="widget widget-post">
                        <div class="widget-title">
                            <h3>Trending Now</h3>
                        </div>
                        <div class="widget-body">

                        </div>
                    </div>-->
                    <!-- End Trending Post -->
                    <!-- Latest Post -->
                    <div class="widget widget-latest-post">
                        <div class="widget-title">
                            <h3>Derniers postes</h3>
                        </div>
                        <div class="widget-body">
                        {% if poste is defined %} 
                        {% for  postes in poste %}
                            <div class="latest-post-aside media">
                                <div class="lpa-left media-body">
                                    <div class="lpa-title">
                                        <h5><a href="{{ path('app_article', {'id': postes.id,  'slug': postes.slug } )}}">{{postes.title}}</a></h5>
                                    </div>
                                    <div class="lpa-meta">
                                        <a class="name" href="">
                                            Rachel Roth
                                        </a>
                                        <a class="date" href="#">
                                           {{ postes.createdAt |date('d/m/y') }} 
                                        </a>
                                    </div>
                                </div>
                                <div class="lpa-right">
                                    <a href="#">
                                        <img src="{{ asset('/upload/galerie/' ~ article.image )}}" title="" alt="">
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <!-- End Latest Post -->
                    <!-- widget Tags --
                    <div class="widget widget-tags">
                        <div class="widget-title">
                            <h3>Latest Tags</h3>
                        </div>
                        <div class="widget-body">
                            <div class="nav tag-cloud">
                                <a href="#">Design</a>
                                <a href="#">Development</a>
                                <a href="#">Travel</a>
                                <a href="#">Web Design</a>
                                <a href="#">Marketing</a>
                                <a href="#">Research</a>
                                <a href="#">Managment</a>
                            </div>
                        </div>
                    </div>-->
                    <!-- End widget Tags -->
                </div>
            </div>
        </div>
    </div>
					</section>











</div>
{% endblock %}
