{% extends 'base_menu.html.twig' %}

{% block title %}Hello ActualitesController!{% endblock %}

{% block body %}
<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
							<section class="section gray-bg" id="blog">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7 text-center">
                        <div class="section-title">
                            <h2>Actualités</h2>
                            <p> </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                {% for articles in article %}
                    <div class="col-lg-4">
                        <div class="blog-grid">
                            <div class="blog-img">
                                <div class="date">{{articles.createdAt| date('d/m/y')}}</div>
                                <a href="#">
                                    <img src="{{ asset('/upload/galerie/' ~ articles.image )}}" title="" alt="">
                                </a>
                            </div>
                            <div class="blog-info">
                                <h5><a href="#">{{ articles.title |u.truncate(40, '...')|raw }}</a></h5>
                                <p>{{ articles.content|u.truncate(50, '...')|raw }}.</p>
                                <div class="btn-bar">
                                    <a href="{{ path('app_article', {'id': articles.id,  'slug': articles.slug } )}}" class="px-btn-arrow">
                                        <span>Lire la suite</span>
                                        <i class="arrow"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                    
                    
                    <br>
                    {# {% if isPaginated  is defined and isPaginated %}
                <div class="row mt-2">
        <nav aria-label=" col Page navigation example">
            <ul class="pagination">
            {% if  page  != 1 %}
                <li class="page-item">
                <a class="page-link" href="{{ path('app_actualites', {'page': page -1, 'nbre': nbre})}}">Previous</a></li>
             {% endif %}
                    {% for i in range(1, nbrePage) %}
                <li class="page-item"><a class="page-link" href="{{ path('app_actualites', {'page': i, 'nbre': nbre})}}">{{ i }}</a></li>
                    {% endfor %}
                  {% if page != nbrePage %}
                <li class="page-item">
                <a class="page-link" href="{{ path('app_actualites', {'page': page +1, 'nbre': nbre})}}">Next</a></li>
             {% endif %} #}
            </ul>
            </nav>
             </div>
            {# {% endif %} #}
                </div>
            </div>
        </section>
    
            
           
						</div>
					</section>

			</div>

{% endblock %}
